@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


/* @theme{
    --color-blue-333446: #333446;
} */

@theme{
  --color-blueBG: #39315e;
  --color-yellowTextA: #FFC400;
  --color-blueBGA: #ffffff;
  --color-blueBGB: #D9D9D9;
  --color-blueA: #333446;
  --font-amatic: "Amatic SC", sans-serif;
  --font-robotoMono: "Roboto Mono", monospace;
  --font-roboto: "Roboto", sans-serif;
  --tracking-vTight: 0em;  
}